		<footer class="footer">
			<div class="container">
				<div class="row footer-top">
					<div class="col-sm-6 col-lg-6">
						<h3>
							<img src="/asset/img/logo.jpg">
							Cookies's Blog
						</h3>
						<p>有些事情其实很简单，就是用自己会的东西，想办法去做一些有用的事情。如果不会，那就先学会。</p>
					</div>
					<div class="col-sm-6  col-lg-5 col-sm-offset-1">
						<div class="row about">
							<div class="col-xs-12">
								<h4>
									<img src="/asset/img/weibo.jpg">
									联系方式:
									<a href="http://weibo.com/czcxui">新浪微博</a>
								</h4>
							</div>
						</div>
					</div>
				</div>
				<hr>
				<div class="row footer-bottom">
					<ul class="list-inline text-center">
						<li><a href="http://www.miitbeian.gov.cn/">陇ICP备16000227号</a></li>
						<li>网站编号2810071</li>
					</ul>
				</div>
			</div>
		</footer>
